@page
@model Money.Web.Pages.Spendings.IndexModel

@{
    ViewData["Title"] = "Spendings";
}

<h1>Spendings</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<hr />
<h4>Filtering</h4>
<form method="get">
    <div class="form-check form-check-inline">
        <input name="start" asp-for="StartDate" asp-format="{0:yyyy-MM-dd}" />
        -
        <input name="end" asp-for="EndDate" asp-format="{0:yyyy-MM-dd}" />
    <input type="submit" class="btn btn-secondary" value="Filter"/>
    </div>
</form>

<hr/>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Spending[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spending[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spending[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spending[0].Ammount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spending[0].AddedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Spending) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ammount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedOn)
            </td>
            <td>
                <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
