@page
@model Money.Web.Pages.StatModel
@{
    ViewData["Title"] = "Statistics";
}
<style type="text/css">
    .report {
        font-family: monospace
    }
</style>
<h1>📊 Statistics</h1>
<form method="get">
    <div class="form-check form-check-inline">
        <input name="start" asp-for="StartDate" asp-format="{0:yyyy-MM-dd}" />
        -
        <input name="end" asp-for="EndDate" asp-format="{0:yyyy-MM-dd}" />
        <input type="submit" class="btn btn-secondary" value="Filter" />
    </div>
</form>
<hr />
<div class="report">
    <p>Number of spendings: @Model.Statistics.SpendingCount</p>
    <p>Sum spenings: @Model.Statistics.SumSpending</p>
    <p>Average spenings: @Model.Statistics.AverageSpending</p>
    <p>Biggest spending: @Model.Statistics.Maximum.ToString()</p>
    <p>Smallest spending: @Model.Statistics.Minimum.ToString()</p>
    <p>Day with most spendings:  @Model.Statistics.DayWithMostSpendings</p>
    <p>Day with least spendings:  @Model.Statistics.DayWithLeastSpendings</p>
    <p>Category with most spendings:  @Model.Statistics.CategoryWithMostSpendings</p>
    <p>Category with least spendings:  @Model.Statistics.CategoryWithLeastSpendings</p>
    <h2>Spendigs / day</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Spendings</th>
        </thead>
        <tbody>
            @foreach (var item in Model.Statistics.SpendigsPerDay)
            {
               <tr>
                   <td>@item.Key</td>
                   <td>@item.Value</td>
               </tr>
            }
            </tbody>
    </table>
    <h2>Spendigs / category</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Spendings</th>
        </thead>
        <tbody>
            @foreach (var item in Model.Statistics.SpendigsPerCategory)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>